html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background-color: #F7F9FE;
    /* font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal; */
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;

}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 80px;
}

.header_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
}

.address {
    position: relative;
}

.address::before {
    content: '';
    position: absolute;
    background-image: url(images/address.png);
    background-repeat: no-repeat;
    top: 17px;
    bottom: 0;
    right: 9px;
    left: -15px;
}

.menu_list {
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #797979;
    text-align: left;
    padding: 0;
    position: absolute;
    z-index: 2;
    display: none;

}

.header__list--open {
    display: block;

}

.menu_list a {
    width: 200px;
    padding: 10px 15px;
    color: #000000;
}


.menu__inner-networks {
    display: flex;
    margin-top: 15px;
    gap: 0 10px;
}

.header_buttone-inner {
    background-color: inherit;
    border: 2px solid #6AAAE5;
    border-radius: 20px;
    width: 160px;
    height: 48px;
    font-size: 17px;
}

.header_buttone-inner:hover {
    background-color: #6AAAE5;
    border: 2px solid white;
    color: white;
}

.header_item {
    display: flex;
    gap: 0 40px;
    padding: 0;
    margin-top: 24px;
}

.header_item>li:hover {
    color: #6AAAE5;
}

.menu_btn {
    display: none;
    width: 40px;
    height: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.menu_btn:active {
    background-color: inherit;
}

.menu_btn_item_one,
.menu_btn_item_two,
.menu_btn_item_three {
    background-color: black;
    width: 100%;
    height: 1.5px;
    border-radius: 20px;
}

.menu_btn_active:nth-child(1) {
    transform: rotate(45deg);
    transition-duration: 0.5s;
    width: 25px;
    margin-top: 6px;
}

.menu_btn_active:nth-child(2) {
    display: none;
    transition-duration: 0.5s;
}

.menu_btn_active:nth-child(3) {
    transform: rotate(135deg);
    transition-duration: 0.5s;
    width: 25px;
    margin-bottom: 7px;
}

.search_screen {
    display: flex;
    position: relative;
}

.search_screen>input {
    width: 265px;
    height: 40px;
    border: none;
    background: #fff;
    padding: 0 10px;
    font-size: 16px;
    color: #000000;
    border-radius: 20px;
    outline: 0;
}



.search_buttone-screen::before {
    content: '';
    position: absolute;
    background-image: url(images/glass.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 230px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    z-index: 2;
}

.img_top {
    width: 1200px;
    border-radius: 20px;
}

.mySwiper {
    position: relative;
    margin-bottom: 40px;
}

.swiper-button-left {
    position: absolute;
    background-image: url(images/buttone_left.png);
    background-repeat: no-repeat;
    top: 80%;
    bottom: 0;
    right: 0;
    left: 80%;
    z-index: 1;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.swiper-button-right:hover {
    background-image: url(images/buttone_prev-hover.png);
    transition-duration: 0.5s;

}

.swiper-button-left:hover {
    background-image: url(images/buttone_left-hover.png);
    transition-duration: 0.5s;

}

.swiper-button-right {
    position: absolute;
    background-image: url(images/buttone_prev.png);
    background-repeat: no-repeat;
    top: 80%;
    bottom: 0;
    right: 46px;
    left: 87%;
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;

}

.swiper_button-info {
    position: absolute;
    top: 71%;
    bottom: 0;
    right: 0;
    left: 8%;
    cursor: pointer;
    z-index: 1;
    width: 150px;
    height: 48px;
    border-radius: 28px;
    background-color: inherit;
    color: white;
    border: 2px solid white;
    font-size: 16px;
}

.swiper_button-info:hover {
    background-color: #ffffff;
    color: #6AAAE5;
}


.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
}

.Title {
    font-size: 32px;
}

.top_dignities {
    display: flex;
    justify-content: space-between;
}

.top_dignities-inner {
    display: flex;
}

.top_inner-text {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.top_inner-img {
    max-width: 80px;
    max-height: 80px;
}

.inner-cataslog {
    display: flex;
    gap: 0 24px;
    justify-content: center;
    align-items: center;
}

.catalog_card {
    background-color: #fff;
    width: 280px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.catalog_card:hover {
    box-shadow: 0px 5px 10px 2px #6AAAE5;
    transition: 0.5s;
}

.catalog_card-img {
    border-radius: 20px;
}

.Popular_inner {
    margin-bottom: 80px;
}

.Popular_wrapper {
    margin-bottom: 80px;
}

.Popular_btn-right {
    top: 315px;
    left: 1150px;
}

.Popular_btn-left {
    top: 315px;
    left: 1070px;
}

.swiper_slide-Popular {
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.Partners_wrapper {
    margin-bottom: 80px;
}

.Partners_btn-right {
    top: 100px;
    left: 1150px;
}

.Partners_btn-left {
    top: 100px;
    left: 1070px;
}

.Partners_img {
    width: 200px;
}


.Form_wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    text-align: center;
    height: 400px;
    border-radius: 20px;
}

.Form__inner {
    width: 400px;
    height: 300px;
}

.Form__title {
    margin-bottom: 32px;
    margin-top: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.Form__text {
    font-size: 14px;
    font-weight: 100;
    color: #8f8f8f;
}

.Form__inner-item>input {
    width: 417px;
    height: 47px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid rgba(73, 132, 197, 0.2);
}

.Form__inner-item>p:focus {
    border: 1px solid #6AAAE5;
}

.Form__checkbox {
    font-size: 12px;
    color: #9F9F9F;
    display: inline-block;
}

.Form__button>button {
    background-color: #6AAAE5;
    width: 147px;
    height: 47px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
}

.Form__button>button:hover {
    background-color: #fff;
    border: 2px solid #6AAAE5;
    color: #6AAAE5;
}

.footer__wrapper {
    display: flex;
    gap: 0 50px;
}

.footer_inner-title {
    font-size: 18px;
    margin-bottom: 25px;
}

.footer_inner-list {
    margin-top: 0;
}

.footer__company-item:hover {
    color: #6AAAE5;
}

.footer_inner-title:hover {
    color: #6AAAE5;
}

.footer__company-item {
    margin-bottom: 20px;
}

.footer_container {
    margin-bottom: 0;
}

.inner__connection-list {
    margin: 0;
}

.inner__connection-phone {
    margin-bottom: 10px;
}

.inner__networks {
    display: flex;
    gap: 0 10px;
}

.hr {
    margin: 1rem 0;
    color: inherit;
}

.footer_rights {
    display: flex;
    gap: 0 75px;
    margin-bottom: 35px;
}

/* The end index.html */
/* Payment.html */
.Payment_wrapper {
    line-height: 1.5;
}

.Payment_list-item::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #6cb4f7;
    border-radius: 50%;
    margin-right: 10px;
}

.Payment_list {
    font-size: 16px;
}



/* Guarantees.html */
.Guarantees_span {
    font-weight: 600;
}

.Guarantees_wrapper {
    line-height: 1.5;
}

/* Contacts.html */
.Contacts_inner-item>a {
    margin-left: 15px;
    font-size: 20px;
}

.Contacts_inner-item {
    display: flex;
    align-items: center;
}

.Contacts_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 1200px;
    height: 200px;
    border-radius: 30px;
    gap: 0 25px;
}

/*Mounting.html */
.Mounting_text {
    font-size: 16px;
}

.Mounting_inner {
    line-height: 1.5;
}

/*Installation_conditioners.html */
.Installation_title {
    text-align: center;
}

.Installation_inner-blok {
    background-color: #fff;
    height: auto;
    border-radius: 30px;
    padding: 20px 20px;
    line-height: 1.7;
    margin-bottom: 35px;
}

.Installation_inner-title {
    font-size: 20px;
    color: #69A8E4;
    margin: 0;
}

.Installation_inner-text {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.Installation_list-link,
.Installation_item-text {
    margin: 5px 5px;
    font-size: 16px;
}

.Installation_list-item {
    padding: 0;
}

.Installation_list-link::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #69A8E4;
    border-radius: 50%;
    margin-right: 10px;
}

.inner_text-item {
    color: #797979;
    font-weight: 400;
    font-size: 18px;
}

.Installation_inner-button {
    width: 900px;
    font-size: 20px;
    display: flex;
    text-align: left;
    border-radius: 30px;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: #5E9CD9;
    background-color: #fff;
    border: 2px solid #69A8E4;
}

.Installation_blok-item {
    height: 100%;
}

/* Installation_list_one */
.Installation_list {
    transition-duration: 0.5s;
    display: none;
}

.closs_list--menu {
    transition-duration: 0.5s;
    display: block;
    height: 250px;
    visibility: visible;
}

.list_btn,
img {
    transition-duration: 0.5s;
}

.list--img {
    transition-duration: 0.5s;
    transform: rotate(-45deg);
}

/* Installation_list_two */
.Installation_list_two {
    transition-duration: 0.5s;
    display: none;
}

.closs_list--menu_two {
    transition-duration: 0.5s;
    display: block;
    height: 250px;
    visibility: visible;
}

.list_btn_two,
img {
    transition-duration: 0.5s;
}

.list--img_two {
    transition-duration: 0.5s;
    transform: rotate(-45deg);
}

/* Installation_list_three */
.Installation_list_three {
    transition-duration: 0.5s;
    display: none;
}

.closs_list--menu_three {
    transition-duration: 0.5s;
    display: block;
    height: 120px;
    visibility: visible;
}

.list_btn_three,
img {
    transition-duration: 0.5s;
}

.list--img_three {
    transition-duration: 0.5s;
    transform: rotate(-45deg);
}

/* Installation_list_four */
.Installation_list_four {
    transition-duration: 0.5s;
    display: none;
}

.closs_list--menu_four {
    transition-duration: 0.5s;
    display: block;
    height: 270px;
    visibility: visible;
}

.list_btn_four,
img {
    transition-duration: 0.5s;
}

.list--img_four {
    transition-duration: 0.5s;
    transform: rotate(-45deg);
}

/* Installation_list_five */
.Installation_list_five {
    transition-duration: 0.5s;
    display: none;
}

.closs_list--menu_five {
    transition-duration: 0.5s;
    display: block;
    height: 100px;
    visibility: visible;
}

.list_btn_five,
img {
    transition-duration: 0.5s;
}

.list--img_five {
    transition-duration: 0.5s;
    transform: rotate(-45deg);
}





























@media(max-width:2100px) {
    .swiper-pagination {
        display: none;
    }

    .search__buttone {
        display: none;
    }

    .menu__inner-networks {
        display: none;
    }
}

@media(max-width:1200px) {
    .header_item {
        gap: 0 35px;
    }

    .Contacts_inner {
        width: 1050px;
        margin-bottom: 80px;
    }

    .header_wrapper {
        gap: 0 30px;
    }
}

@media(max-width:1290px) {
    body {
        font-size: 14px;
    }
}

@media(max-width:1024px) {
    .header_item {
        gap: 0 25px;
        padding: 0;
    }

    .header_buttone-inner {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .header_wrapper {
        justify-content: space-between;
        align-items: center;
    }

    .header_logo-img {
        width: 150px;
    }

    .address {
        display: none;
    }

    .img_top {
        width: 968px;
        margin-left: 0;
    }

    .catalog_card-img {
        width: 200px;
    }

    .Popular_img {
        width: 165px;
    }

    .swiper_slide-Popular {
        margin-right: 24px !important;
        margin-left: 20px !important;
    }

    .Partners_img {
        width: 150px;
    }
}

@media(max-width:900px) {
    .header_buttone-inner {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .header_logo-img {
        width: 150px;
    }

    .search__buttone {
        display: flex;
    }

    .search_screen {
        display: none;
    }

    .search_buttone-screen::before {
        display: none;
    }

    .search_screen>input:focus {
        border: 2px solid #6AAAE5;
    }

    .search_screen>input {
        position: absolute;
        width: 350px;
        top: -18px;
        left: -80px;
    }

    .button__menu_item {
        display: flex;
        gap: 0 20px;
        align-items: center;
    }

    .buttone__search--active {
        display: flex !important;
    }

    .top_inner-text {
        margin: 20px 12px;
    }


    .address {
        display: none;
    }

    .menu_btn {
        display: flex;
    }

    .img_top {
        width: 850px;
    }

    .header_buttone-inner {
        display: none;
    }

    .header_item {
        display: none;
    }

    .phone {
        display: none;
    }

    .menu__list--open {
        display: block;
        line-height: 2.5;
        transition-duration: 1s;
    }

    .swiper_slide-Popular {
        margin-right: 15px !important;
    }

    .Form__inner-item>input {
        width: 345px;
        height: 40px;
    }

    .footer__wrapper {
        gap: 0 30px;
    }

    .menu__inner-networks {
        display: flex;
    }

    /*Installation_conditioners--Установка кондиционеров*/
    .Installation_inner-button {
        width: 800px;
    }

    .Contacts_inner {
        width: 850px;
    }


}


@media(max-width:768px) {
    .header_logo-img {
        width: 150px;
    }

    .header_wrapper {
        margin-bottom: 30px;
    }

    .header_buttone-inner {
        display: none;
    }

    .phone {
        display: none;
    }

    .address {
        display: none;
    }

    .img_top {
        width: 690px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .swiper-button-right {
        display: none;
    }

    .swiper-button-left {
        display: none;
    }

    .swiper-pagination {
        display: flex;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-fraction {
        top: 236px !important;
        left: 324px !important;
        width: 100%;
    }

    .swiper_button-info {
        top: 65%;
        left: 10%;
        width: 100px;
        height: 30px;
    }

    .swiper-pagination-bullet {
        width: 14px !important;
        height: 14px !important;
    }

    .top_dignities {
        display: none;
    }


    .header_item {
        display: none;
    }

    .menu__list--open {
        display: block;
        line-height: 2.5;
        transition-duration: 1s;
    }

    .inner-cataslog {
        flex-wrap: wrap;
    }

    .catalog_card {
        margin-bottom: 20px;
    }

    .Popular_img {
        width: 150px;
    }

    .Form__img {
        width: 300px;
    }

    .Form__title {
        font-size: 28px;
    }

    .Form__inner-item>input {
        font-size: 16px;
        width: 300px;
        height: 35px;
    }

    .footer__wrapper {
        gap: 0 0;
    }

    /*Installation_conditioners--Установка кондиционеров*/
    .Installation_inner-button {
        width: 690px;
        height: 60px;
        font-size: 18px;
    }

    .Contacts_inner {
        width: 740px;
    }

    .Contacts_inner-item>a {
        margin-left: 10px;
        font-size: 18px;
    }


}

@media(max-width:480px) {
    body {
        font-size: 12px;
    }

    .container {
        margin-bottom: 30px;
    }

    .header_logo-img {
        width: 135px;
    }

    .menu_btn {
        width: 25px;
    }

    .menu_list a {
        width: 180px;
        font-size: 12px;
    }

    .search_screen>input {
        width: 215px;
        top: -18px;
        height: 35px;
        left: -68px;
        font-size: 14px;
    }

    .img_top {
        width: 409px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-fraction {
        top: 135px !important;
        left: 200px !important;
    }

    .swiper_button-info {
        left: 12%;
        width: 50px;
        height: 18px;
        font-size: 8px;
        top: 115px;
    }

    .swiper_button-info {
        border: 1px solid white;
    }

    .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
    }

    .input>input {
        width: 100px;
    }

    .swiper_slide-Popular {
        margin-right: 20px !important;
        margin-left: 0 !important;
    }

    .catalog_card {
        width: 200px;
    }

    .catalog_card-img {
        width: 185px;
    }

    .Partners_img {
        width: 145px;
    }

    .Form__img {
        width: 250px;
    }

    .Form__title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .Form__text {
        font-size: 12px;
    }

    .Form__inner-item>input {
        font-size: 12px;
        height: 30px;
    }

    .Form__checkbox {
        margin-top: 0;
    }

    .Form__button>button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    .Form_wrapper {
        flex-wrap: wrap;
        height: 480px;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__inner-list {
        display: none;
    }

    .footer_inner-title {
        font-size: 15px;
    }

    /*Installation_conditioners--Установка кондиционеров*/
    .Installation_inner-button {
        width: 400px;
        height: 65px;
        line-height: 1.4;
    }

    .closs_list--menu {
        height: 370px;
    }

    .closs_list--menu_two {
        height: 370px;
    }

    .closs_list--menu_three {
        height: 200px;
    }

    .closs_list--menu_four {
        height: 450px;
    }

    #list_img,
    #list_img_two,
    #list_img_three,
    #list_img_four,
    #list_img_five {
        width: 35px;
        height: 35px;
    }

    /* Payment--Оплата и доставка */
    .Payment_title {
        font-size: 30px;
    }

    .Payment_list {
        font-size: 14px;
        margin-bottom: 50px;
        margin-left: 10px;
        padding: 0;
    }

    .Payment_text {
        font-size: 16px;
    }

    .Payment_list>li {
        margin-bottom: 5px;
    }

    .Contacts_inner {
        display: block;
        text-align: center;
    }

    .Contacts_inner-item {
        margin: 20px 0 25px;
    }

    .Contacts_inner {
        width: 450px;
    }

}

@media(max-width:460px) {
    .header_wrapper {
        margin: 0;
    }

    .header_logo-img {
        width: 125px;
    }

    .img_top {
        width: 390px;
    }

    .img_top {
        width: 390px;
    }
    .swiper_button-info {
        left: 45px;
        top: 110px;
    }
    .search_screen>input {
        width: 180px;
        height: 30px;
        top: -15px;
        left: -50px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-fraction {
        top: auto !important;
        left: 170px !important;
    }

    .catalog_card-img {
        width: 160px;
    }

    .catalog_card {
        width: 165px;
    }

    .footer_rights {
        font-size: 10px;
    }

    /*Installation_conditioners--Установка кондиционеров*/
    .Installation_title {
        font-size: 24px;
    }

    .Installation_list-link {
        font-size: 14px;
    }

    .Installation_inner-text {
        font-size: 14px;
    }

    .Installation_inner-button {
        width: 350px;
        height: 60px;
        font-size: 16px;
    }

    .closs_list--menu_two {
        height: 400px;
    }

    .closs_list--menu_three {
        height: 300px;
    }

    .closs_list--menu_four {
        height: 600px;
    }

    .closs_list--menu_five {
        height: 200px;
    }

    /* Payment--Оплата и доставка */
    .Payment_list {
        margin-left: 20px;
    }

    .Payment_title {
        margin-top: 35px;
    }

    .Payment_text {
        font-size: 14px;
    }

    .Contacts_inner {
        width: 400px;
    }


}

@media(max-width:420px) {
    .header_wrapper {
        margin: 0;
    }

    .header_logo-img {
        width: 125;
    }

    .img_top {
        width: 340px;
    }

    .search_screen>input {
        width: 180px;
        height: 30px;
        top: -15px;
        left: -50px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-fraction {
        top: auto !important;
        left: 170px !important;
    }

    .catalog_card-img {
        width: 160px;
    }

    .catalog_card {
        width: 165px;
    }

    .footer_rights {
        font-size: 10px;
    }

    /*Installation_conditioners--Установка кондиционеров*/
    .Installation_title {
        font-size: 24px;
    }

    .Installation_list-link {
        font-size: 14px;
    }

    .Installation_inner-text {
        font-size: 14px;
    }

    .Installation_inner-button {
        width: 350px;
        height: 60px;
        font-size: 16px;
    }

    .closs_list--menu_two {
        height: 400px;
    }

    .closs_list--menu_three {
        height: 300px;
    }

    .closs_list--menu_four {
        height: 600px;
    }

    .closs_list--menu_five {
        height: 200px;
    }

    /* Payment--Оплата и доставка */
    .Payment_list {
        margin-left: 20px;
    }

    .Payment_title {
        margin-top: 35px;
    }

    .Payment_text {
        font-size: 14px;
    }

    .Contacts_inner {
        width: 400px;
    }



}

@media(max-width:415px) {
    .header_logo-img {
        width: 125px;
    }

    .img_top {
        width: 350px;
        height: 145px;
    }

    .search_screen>input {
        width: 200px;
        height: 35px;
        top: 16px;
        left: -78px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-fraction {
        top: auto !important;
        left: 160px !important;
    }

    .catalog_card {
        width: 170px;
    }

    .catalog_card-img {
        width: 135px;
    }

    .swiper_button-info {
        left: 42px;
        width: 50px;
        height: 16px;
        font-size: 8px;
        top: 110px;
    }

    .Popular_img {
        width: 135px;
    }

    .Popular_title {
        font-size: 12px;
    }

    .Partners_img {
        width: 125px;
    }

    .Title {
        font-size: 16px;
    }

    .Guarantees_title {
        font-size: 32px;
    }

    .Guarantees_span {
        font-size: 16px;
    }

    .inner__connection-phone {
        display: flex;
        font-size: 14px;
        margin-left: 10px;
    }

    /*Installation_conditioners--Установка кондиционеров*/
    .Installation_inner-button {
        width: 340px;
        height: 55px;
    }

    .Contacts_inner {
        width: 350px;
    }

}

@media(max-width:400px) {
    .img_top {
        width: 330px;
        height: 135px;
    }
    .swiper_button-info {
        left: 40px;
        top: 105px;
    }

    .catalog_card {
        width: 150px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-fraction {
        left: 155px !important;
    }
    .Installation_inner-button {
        width: 325px;
        height: 50px;
        font-size: 14px;
    }

}

@media(max-width:380px) {
    .header_logo-img {
        width: 100px;
    }

    .container {
        margin-bottom: 0;
    }

    .search__buttone>img {
        width: 25px;
    }

    .img_top {
        width: 320px;
        height: auto;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-fraction {
        top: auto !important;
        left: 145px !important;
    }

    .swiper-pagination-bullet {
        width: 5px !important;
        height: 5px !important;
    }

    .swiper_slide-Popular {
        margin-right: 10px !important;
    }

    .Form__checkbox {
        font-size: 10px;
    }

    .search_screen>input {
        width: 160px;
        height: 27px;
        top: -14px;
        left: -48px
    }

    .catalog_card {
        width: 150px;
    }

    .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .inner__connection-phone {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 0;
    }

    .footer_rights {
        display: flex;
        gap: 0 50px;
    }

    /*Installation_conditioners--Установка кондиционеров*/
    .Installation_inner-title {
        font-size: 16px;
    }

    .Installation_inner-blok {
        padding: 10px 10px;
    }

    .Installation_inner-button {
        width: 320px;
        height: 50px;
    }

    .Installation_list,
    .Installation_list_two,
    .Installation_list_three,
    .Installation_list_four,
    .Installation_list_five {
        padding: 0;
    }

    .closs_list--menu,
    .closs_list--menu_two {
        height: 320px;
    }

    .closs_list--menu_three {
        height: 200px;
    }

    .closs_list--menu_four {
        height: 400px;
    }

    .closs_list--menu_five {
        height: 150px;
    }

    .Installation_list-link,
    .Installation_item-text {
        font-size: 14px;
    }
}

@media(max-width:370px) {
    body {
        font-size: 14px;
    }

    .header_logo-img {
        width: 100px;
    }

    .container {
        margin-bottom: 0;
    }

    .search__buttone>img {
        width: 25px;
    }

    .img_top {
        width: 265px;
    }

    .swiper_button-info {
        left: 35px;
        width: 35px;
        height: 12px;
        top: 85px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-fraction {
        top: auto !important;
        left: 130px !important;
    }

    .swiper-pagination-bullet {
        width: 5px !important;
        height: 5px !important;
    }

    .Form__checkbox {
        font-size: 10px;
    }

    .search_screen>input {
        width: 140px;
        height: 27px;
        top: -14px;
        left: -48px
    }

    .catalog_card {
        width: 120px;
    }

    .catalog_card-img {
        width: 110px;
    }

    .Form__inner-item>input {
        font-size: 10px;
        width: 250px;
    }

    .Form__button>button {
        width: 110px;
        height: 35px;
    }

    .footer_inner-connection {
        display: flex;
        align-items: center;
    }

    .inner__connection-phone {
        justify-content: left;
    }

    .footer_rights {
        font-size: 8px;
    }

    /*Installation_conditioners--Установка кондиционеров*/

    .Installation_inner-button {
        width: 260px;
        height: 65px;
        font-size: 14px;
    }

    .Installation_list-link,
    .Installation_item-text {
        font-size: 12px;
    }

    .closs_list--menu,
    .closs_list--menu_two {
        height: 300px;
    }

    .closs_list--menu_three {
        height: 200px;
    }

    .closs_list--menu_four {
        height: 400px;
    }

    .Contacts_inner {
        width: 290px;
    }

}
